body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #e8ffd7;
    color: #3e5f44;
    margin: 0;
}

.hero{
    background-color: #5e936c;
    color:#e8ffd7;
    padding: 40px 20px;
    text-align: center;
}

.hero h1{
    font-size: 36px;
    margin:0;

}

.hero p{
    font-size: 18px;
    margin-top:10px;
}

.plant-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    
}

.plant-card{
    flex: 1 1 200px;
    background-color: #93da97;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(62, 95, 68, 0.1);
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.plant-card:hover{
    background-color: #5e936c;
    color: #e8ffd7;
    transform: scale(1.05);}
@media(max-width: 768px){
    .plant-card{
        flex:1 1 100%;
    }
}
